body {
    font-family: "Raleway", sans-serif;
    background-color: black;
    color: white;
}

.navbar {
    width: 90%;
    margin: auto;
}

.navbar-brand img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.3em;
    vertical-align: bottom;
}

.nav-link {
    color: white;
}

h3 {
    text-align: center;
    margin: 2em 0;
}

i {
    font-size: 2em;
    text-align: center;
}

article i {
    padding: 2px 0;
}

.card {
    height: 100%;
}

.card img {
    height: 173px;
}

footer h3 {
    display: inline-block;
    width: 48%;
}

.logos {
    display: inline-block;
    width: 48%;
}

.logos i {
    margin: 0 0.3em;
}