body {
    font-family: "Raleway", sans-serif;
    color: white;
}

.navbar {
    width: 80%;
    margin: auto;
}

.navbar-brand img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.3em;
    vertical-align: bottom;
}

.nav-link {
    color: white;
}