body {
    font-family: "Raleway", sans-serif;
    background-color: black;
    color: white;
}
/* NAVBAR */
.navbar {
    width: 90%;
    margin: auto;
}

.navbar-brand img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.3em;
    vertical-align: bottom;
}

.nav-link {
    color: white;
}
/*Navbar toggler (hamburguesa) */
.navbar-toggler {
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 2px solid white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Sección artículo '¿Quiénes Somos?' */
h3 {
    text-align: center;
    margin: 2em 0;
}

i {
    font-size: 2em;
    text-align: center;
}

article i {
    padding: 2px 0;
}

/* Sección 'Destacados' */
.card {
    height: 100%;
}

.card img {
    height: 173px;
}

/* FOOTER */
.logos i {
    margin: 0 0.3em;
}